.billboard-container{
    padding: 20px;
}

.box-billboard{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.billboard-titles{

    height: 80px;
    width: 100%;
    font-size: 15px;
    color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-news{

    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 500px;
    font-size: 50px;
    background-color: orange;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: two;
}

.gallery{
    
    display: flex;
    flex-shrink: 0;
    transform: translateX(0%);
    animation: slideIn 0.5s ease;
}

.slideshow{

    overflow: hidden;
    z-index: 10;
}

.slide-left{

    position: absolute;
    height: 100%;
    width: 35%;
    left: 0;
    margin-left: auto;
    transform: rotateZ(180deg);
}
.slide-right{

    position: absolute;
    height: 100%;
    width: 35%;
    right: 0;
    margin-right: auto;
}

.slide-center{

    display: flex;
    justify-content: end;
    align-items: center;
}

.arrow{

    filter:drop-shadow(0px 0px 20px rgb(0, 0, 0));
    width: 11mm;
    height: 11mm;
    margin-right: 10px;
}


.dot-news{
    
    display: flex;
    justify-content: center;
    position: absolute;
    height: 31px;
    width: 100%;
    bottom: 0;
    padding: 8px;
    gap: 10px;
    opacity: 0.8;
}

/* ------------------------------------------------------- */

.top-selling-box{

    height: 280px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    overflow-x: auto;
}

.sell-gallery{
    
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    overflow-x: scroll;
}

.best-selled-products{
    
    height:100%;
    width: 200px;
    border-radius: 6px;
    background-color: white;
    box-shadow: -10px 10px 42px -38px rgba(0,0,0,0.75);
}

/* ------------------------------------------------------- */

.box-dep{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    font-size: 30px;
    flex: 0 1 calc(50% - 10px);
    padding-right: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color:rgb(250, 250, 250);
    box-shadow: -10px 10px 42px -38px rgba(0,0,0,0.75);
    border-radius: 10px;
    overflow: hidden;
}

.dep-text{

    height: 100%;
    display: flex;
    align-items: center;
}

.dep-image{

    position:relative;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;
}

@media only screen and (max-width: 755px) {

    .box-dep{

            flex: 0 1 calc(100%);
            box-sizing: border-box;
    }
}

@media only screen and (max-width: 600px) {

    .billboard-container{

        padding: 10px;
    }

    .box-billboard{

        gap: 10px;
    }

    .box-dep{

        height: 120px;
        font-size: 20px;
    }

    .dep-image{
    
        height: 100px;
        width: 100px;
    }

    .box-news{
    
        height: 250px;
    }
}