.cart-container{

    padding: 10px;
}

.cart-elements{

    padding-top: 25px;
    border-radius: 5px;
    box-shadow: -10px 10px 42px -38px rgba(0,0,0,0.75);
    background-color: white;
}

.cart-products{

    padding: 10px;
    min-height: 130px;
    display: grid;
    grid-template-columns: [start] 130px [two] auto [three] 100px [end];
    grid-template-rows: [start] 33.3% [two] 33.3% [three] 33.3% [end];
    column-gap: 10px;
}

.cart-image{

    display: flex;
    align-items: start;
    justify-content: center;

    grid-column-start: start;
    grid-column-end: two;
    grid-row-start: start;
    grid-row-end: end;
}

.cart-description{

    display: flex;
    align-items: center;

    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: start;
    grid-row-end: two;
}

.cart-price{

    display: flex;
    align-items: center;

    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: two;
    grid-row-end: three;
}

.cart-quantity{

    display: flex;
    align-items: center;
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: three;
    grid-row-end: end;
}

.cart-full-price{

    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    color: gray;

    grid-column-start: three;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: end;
}

.cart-value{

    height: 80px;
}

.cart-button{

    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #e64747;
    color: white;
    font-size: 25px;
}