/* Panel de desarrollo */
.devPanel {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8mm;
    width: 8mm;
    top: 5px;
    right: 5px;
    color: white;
    z-index: 3000;
    font-size: 12px;
    border-radius: 4px;
    transition: opacity 0.3s;
    opacity: 0.3;
}

.devPanel:hover {
    opacity: 1;
}

/* Botones */
.devButton {

    height: 100%;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(196, 73, 73, 0.8);
}